/* CSS for elements overall */

body
{
    overflow-x: hidden;
    background: black;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
}

h3 {
    font-size: 2.5em;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
}


/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}

.horizon
{
    line-height: 0;
    z-index: 2;
    width: 3000px;
}

.line
{
    border-top: solid 3px #808080;
    width:6000px;
    position: fixed;
    top: 49vh;
} 

.line2
{
    border-top: solid 3px #808080;
    width:6000px;
    position: fixed;
    top: 51vh;
} 

.middle
{
    z-index: 2;
    line-height: 0;
    width: 4500px;
}

.front
{
    z-index: 3;
    top: 150px;
    width: 6000px;
}

/* Styling for the Posts */

.page
{
    top: 0px;
    max-width: 700px;
    /* padding: 10px 30px; */
    /* border: 1px #eee solid; */
    transition:.3s;
    position:relative;
}

.page img{
    width:100%;
    height:100%;
    transition:.3s;
    border-radius:4px;
  }

.page:hover img{
    filter: brightness(25%);
}

.page :not(img){
    position:absolute;
    z-index:1;
    /* top:30%; */
    width:100%;
    text-align: left;
    color:#fff;
    opacity:0;
    transition:.3s;
    overflow: hidden;
}

.page h3{
    top:7%;
    left: 2%;
     max-width: 500px;
  }

.page h6{
    bottom:7%;
    left: 3%;
     max-width: 250px;
  }

.page p{
    top:  20%;
    left: 4%;
    max-height: 40vh;
    max-width: 580px;
    
  }

.page:hover :not(img){
    opacity:1;
  }


  /* Styling for buttons on posts */

#like {
    width: 45px;
    top: 25%;
    right: 2%;
    font: arial;
}

#dislike {
    width: 45px;
    top: 15%;
    right: 2%;
    font: arial;
}

#oyea {
    width: 45px;
    top: 5%;
    right: 2%;
    font: arial;
}


/* 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////Outdated Styling/////////////////////////////////////////////////////////////////////////
*/


.tintimages {
    /* z-index: 100; */
    position: absolute;
    filter: grayscale() brightness(10%);
    max-width: 250px;
}

.textBubbles {
    position: absolute;
    /* top: -650px; */
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    filter: brightness(78%);
}

.description
{
    top: 150px;
    left: 200px;
}


.photo {
    top: -50px;
    left: 300px;
}

.photo2 {
    position: absolute;
    top: 50px;
    left: 1450px;
}

.photo3 {
    top: -140px;
    left: 2600px;
}

.film {
    background: white;
    border: solid white 10px;
    position: relative;
    max-width: 500px;
    top: 100px;
    left: 2700px; 
}



#carouselExampleControls {
    position: absolute;
    width: 600px;
    top: -50px;
    left: 3400px;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: white solid 15px; */
}

.carousel-item {
    height:400px;
    background-color: rgba(0, 0, 0, 0.5);
}




.leadcontent {
    position: relative;
    top: 650px;
    left: 1450px;
    
}

.middlecontent {
    position: absolute;
    top: 50px;
    left: 0px;
}
