button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

/* adding horizontal scoll effect here */
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}

body {
  background: #111;
  color:white;
}

.blog-container{
  position:absolute;
  display:block;
  top:0;
  left:0;
  /* width:20%;
  min-height:500px; */
  margin:0;
  background:#222;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}
.blog-container > div{
  display:block;
  padding:5px;
  background:#444;
  transform:rotate(90deg);
  transform-origin: right top;
}

/* .card{
  padding:60px 0 0 0;
} */
.card-header{
  height:110px;
}
.card > div{
  width:250px;
  height:150px;
  margin:10px;
}

h2{
  font-size: 2.5vmin;
}